.footer {
 
    background: linear-gradient(180.00deg, rgb(173, 52, 62) 0%,rgb(242, 175, 41) 100%);
    transform: rotate(-180.00deg);
}

.footer-block {
    font-size: clamp(1rem, 0.88rem + 0.49vw, 1.5rem);//24px
    padding-top: 183px;
    transform:  rotate(180.00deg);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 500px) {
        gap: 15px;
        justify-content: center;
        align-items: center;
        
    }
}
.footer-block__address {
    text-align: center;
}

.social {
    display: flex;
    column-gap: 15px;
}
.social__link {
}