.header {
	background-image: $bg-gradient;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	@media (max-width: 1200px) {
		justify-content: space-between;
	}	&__logo {
		display: inline-flex;
		padding: 5px;
		text-decoration: none;
		@media (max-width: 1200px) {
			display: none;
		}

	}
	
}

.header-logo { 
	@media (min-width: 1200px) and (max-width: 5000px) {
		display: none;
	}
}