// colors
$color-brown: rgba(173, 52, 62, 0.5);
$color-grey: #474747;
$color-yellow: #F2AF29;
$color-black: #000;
$color-grey2: #E0E0CE;
$color-white: #fff;
$bg-body: rgb(242, 175, 41);
$bg-gradient: linear-gradient(180.00deg, rgb(173, 52, 62) 0%,rgb(242, 175, 41) 100%);


$transition-duration: 0.3s;